$bg-primary-light: #fffef5;
$bg-secundary-light: #fdeecc;
$bg-dark: #283618;
$color-letter-dark: #283618;
$color-letter-light: #fffef5;
$color-highlight: #c4972e;
$color-link: #f9af15;
$color-main: #364420;
$color-secundary: #606c38;
$color-suport: #fac75c;
$color-suport-light: #fadea3;
$font-base: Montserrat, arial, sans-serif;
$img-base: url(../src/images/pousada-serra-do-luar-na-serra-da-mantiqueira.jpg);
